h3 {
    padding-top: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    border-left: 10px;
}

:root {
    --succes-color: green;
    --fail-color: red;
    --neutral-color: lightgray;
    --end-color: lightgray;
    --start-color: green;
}


/*Task*/

.tg-task {
    cursor: pointer;
}

.tg-taskctrl {
    cursor: pointer;
    user-select: none;
    margin-right: 6px;
}

.tg-taskctrl span {
    color: white;
    background-color: lightgray;
    padding-left: 4px;
    padding-right: 4px;
}

.tg-success :nth-child(2) {
    background: var(--succes-color) !important;
}

.tg-success :first-child {
    color: var(--succes-color) !important;
}

.tg-fail :last-child {
    background: var(--fail-color) !important;
}

.tg-fail :first-child {
    color: var(--fail-color) !important;
}