
<h1 style="color:blue">Hello, world!</h1>

<div>

    Welcome to your new application.<br />

</div>

<div>

    <button type="button" onclick="alert('@ViewBag.Message')" class="appButton">Click Me!</button>

</div>