@using TeamsTabsBCE.Domain.ViewModels.SoftengDashboard

@model SoftengDashboardViewModel

@{
	ViewData["Title"] = "softeng - Dashboard";
}

@section Styles {
	<link href="~/css/Softeng/softeng.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/Softeng/collapseArrow.js" asp-append-version="true"></script>
	<script src="~/js/SoftengDashboard/softengDashboard.js" asp-append-version="true"></script>
}

<div class="page">
	
	<h1>@Model.Title</h1>

	@foreach (var week in Model.Weeks)
	{
		@(await Html.PartialAsync("_SoftengDashboardWeek", week))
	}

</div>