@{
	ViewData["Title"] = "Softeng";
}

@section Styles {
	<link href="~/css/Softeng/softeng.css" rel="stylesheet" asp-append-version="true" />
}

@section Scripts {
	<script src="~/js/Softeng/collapseArrow.js" asp-append-version="true"></script>
	<script src="~/js/Softeng/tasks.js" asp-append-version="true"></script>
	<script src="~/js/Softeng/conversation.js" asp-append-version="true"></script>
}

<div class="page">

	<h1>Software Engineering (2023/2024/1)</h1>

	<h3>
		<a data-bs-toggle="collapse" href="#week1" aria-expanded="false" aria-controls="week1">
			1. hét
			<i class="fa-solid fa-circle-arrow-down"></i>
		</a>		
	</h3>	
	<div id="week1" class="collapse">
		<p>
			In memory adatbázisok, adatok mentése fájlba illetve visszatöltése fájlból. Adatkötött vezérlők használata
		</p>
		<p>​
			Gyakorlati feladatsor:
			<a data-bs-toggle="collapse" href="#week1-1" aria-expanded="false" aria-controls="week1-1">
				In-memory adatbázis
				<i class="fa-solid fa-circle-arrow-down"></i>
			</a>		
		</p>
		<div id="week1-1" class="collapse">
			@{
				for (int i = 1; i <= 24; i++)
				{
					var id = "week1-list1-step" + @i ;
					<span id="@id" class="tg-task"></span>
					<button type="button" class="btn btn-primary m-1" onclick="startConversation('@id')">Csatlakozás a beszélgetéshez</button>
					<br/>
				}
			}
		</div>
	</div>

	<h3>
		<a data-bs-toggle="collapse" href="#week2" aria-expanded="false" aria-controls="week2">
			2. hét
			<i class="fa-solid fa-circle-arrow-down"></i>
		</a>		
	</h3>	
	<div id="week2" class="collapse">
		<ul>
			<li>
				<p>
					2a. gyakorlati feladatsor:
					<a data-bs-toggle="collapse" href="#week2-1" aria-expanded="false" aria-controls="week2-1">
						Távoli SQL adatbázis elérése C# alkalmazásból
						<i class="fa-solid fa-circle-arrow-down"></i>
					</a>
				</p>
				<div id="week2-1" class="collapse">
					@{
						for (int i = 1; i <= 14; i++)
						{
							var id = "week2-list1-step" + @i ;
							<span id="@id" class="tg-task"></span>
							<button type="button" class="btn btn-primary m-1" onclick="startConversation('@id')">Csatlakozás a beszélgetéshez</button>
							<br/>
						}
					}
				</div>
			</li>
			<li>
				<p>
					2b. gyakorlati feladatsor:
					<a data-bs-toggle="collapse" href="#week2-2" aria-expanded="false" aria-controls="week2-2">
						Lokális SQL adatbázis használata
						<i class="fa-solid fa-circle-arrow-down"></i>
					</a>
				</p>
				<div id="week2-2" class="collapse">
					@{
						for (int i = 1; i <= 16; i++)
						{
							var id = "week2-list2-step" + @i ;
							<span id="@id" class="tg-task"></span>
							<button type="button" class="btn btn-primary m-1" onclick="startConversation('@id')">Csatlakozás a beszélgetéshez</button>
							<br/>
						}
					}
				</div>
			</li>
		</ul>		
	</div>

</div>